@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.ng-invalid.ng-touched{
  border-color: red;
}
.form-text{
  color: red;
}
form{
  background-color: aliceblue;
  border-radius : 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Roboto Slab', serif;
}
button{
border-radius: 50px;
}
#titolo{
  border-top-right-radius:15px;
  border-top-left-radius:15px;

}

#totale{
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}

